*.tmp
*.user
metadata.new
clean.bat
*.rej
*.xlsx
*.tlb
Doc/*.docx
Doc/*todo.txt
*.pdn
*.bak
*.chm
*.orig
*.pdb
*.obj
**/bin/
Src/bin/
*/.hg/
*/.hgignore
*/.hgtags
*/.vs/
**/.vs/
*/obj/
**/obj/
*.cache
*.lastbuildstate
*.FileListAbsolute.txt
*.dll.recipe
*.vcxproj.user
*.csproj.user
**/launchSettings.json